<div class="container__big-card">

    <div class="big-card__photo">
        <img 
            src="https://media.graphassets.com/t07y3CYHSsWswaLVndl3" 
            alt="" 
            srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam hendrerit purus enim. Duis id mollis elit. Proin mattis dolor dui, quis pharetra mi 
            dignissim id. Donec laoreet dolor sed lacus imperdiet placerat.
            </a>
        </p>
    </div>
</div>

