<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photocover="https://media.graphassets.com/t07y3CYHSsWswaLVndl3" 
                        cardTitle="Aspiração folicular"
                        cardDescription="Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old.">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photocover="https://media.graphassets.com/nklLoK9ZTBK3wJ5h3TMk" 
                        cardTitle="Aumentar a fertilidade">
        </app-small-card>
        <app-small-card photocover="https://media.graphassets.com/SzVv1rE9TdOgmopc0or7" 
                        cardTitle="Aspiração folicular">
        </app-small-card>
        <app-small-card photocover="https://media.graphassets.com/RdUkdC5ZRyJCe5LL1NjA" 
                        cardTitle="Partos Gemelares">
        </app-small-card>
    </div>
</div>
